@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    background: linear-gradient(180.00deg, rgb(17, 17, 17) 75%, rgba(119, 119, 119, 0) 100%);
}

.header {
    /* width: 1440px; */
    /* height: 715px; */
    background: linear-gradient(180.00deg, rgb(17, 17, 17) 75%, rgba(119, 119, 119, 0) 100%);
}

.display-flex {
    display: flex;
}

/* navbar & banner section start */
.nav-item {
    list-style: none;
    margin-left: 30px;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.navbar {
    align-items: center;
    justify-content: space-between;
}

.navbar,
.banner {
    /* width: 90rem; */
    width: 90%;
    margin: 0 auto;
}

.banner {
    display: flex;
    justify-content: space-between;
}

.btn-mobile {
    display: none;
}

.fit {
    color: rgb(230, 83, 60);
    font-size: 2.4rem;
    font-weight: 800;
}

.home {
    width: 92px;
    height: 38px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px;
}

.nav-links {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.32);
    color: white;
}

.banner-details h1 {
    font-size: 78px;
    font-weight: 900;
    line-height: 120%;

    color: rgb(255, 255, 255);
    width: 50%;
}

.button {
    gap: 20px;
}

.banner-btn,
.join-btn {
    color: white;
    cursor: pointer;
}

.banner-btn,
.join-btn {
    width: 85%;
    height: 38px;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 18px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
}

.join-btn {
    width: 164px;
    height: 54px;
    padding: 16px 40px;
    line-height: 15px;
    border-radius: 18px;
}

.dowmload {
    width: 85%;
    height: 38px;
    border-radius: 46px;
    background: rgba(0, 0, 0, 0.633);
    padding: 8px 18px;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 35px;
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.5);
}

.video {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;

    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);

    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    padding: 0 30px;
}

.banner-image {
    position: relative;
}

.video {
    color: white;
    /* margin: 0 60%; */
}

.bottom {
    position: absolute;
    right: 90%;
    top: 70%;
    display: flex;
    gap: 20px;
}

.top {
    position: absolute;
    left: 35%;
    top: 35%;
}

.bottom-part,
.top-part {
    margin-top: -10px;
}

.ellipse {
    width: 40px;
    height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: 30%;
}

/* navbar & banner section end */

/* habit section start */
.habit {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.exercises {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    margin-left: 5%;
}

.exercise img {
    border-radius: 50%;
    margin-bottom: -10%;
}

.exercise {
    margin: 0 auto;
    text-align: center;
}

.habit-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.habit-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 3%;
}

.habit-details h2 {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: -0.5%;
    color: rgb(255, 255, 255);
}

h6,
h5 {
    font-size: 20px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: -2%;
}

/* habit section end */


/*extra-mile section start  */
.extra-mile {
    width: 90%;
    margin: 0 auto;
    padding-left: 40px;
    display: flex;
    gap: 40px;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;

    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 3%;
}

.run-img img {
    width: 100%;
    border-radius: 10px;
}

.run {
    width: 100%;
}

h2 {
    font-size: 48px;
    font-weight: 900;
    /* margin-bottom: -0.5%; */
    color: rgb(255, 255, 255);
}

/*extra-mile section end  */

/* discount section start */
.discount {
    width: 90%;
    margin: 0 auto;
    margin-top: 5%;
    display: flex;

    border-radius: 18px;
    background: rgb(34, 34, 34);
    padding: 3%;
}

.discount h4 {
    margin-bottom: -0.5%;
}

.discount-join {
    width: 35%;
}

.red {
    color: red;
}

.discount-deetails {
    width: 50%;
}

.discount-img {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.discount-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

/* discount section end */

/* calculator section start */
.calculator {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
}

.calculator h2 {
    margin-bottom: -0.5%;
}

table {
    border: 2px solid white;
    border-collapse: collapse;
}

tbody {
    color: rgba(255, 255, 255, 0.5);
}

thead {
    color: rgb(255, 255, 255);
}

td,
th {
    border: 1px solid black;
    padding: 5px 10px;
}

.BMI h4 {
    margin-bottom: -0.5%;
}

.calculate {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    background: rgb(34, 34, 34);
    height: 100%;
    padding-bottom: 10px;
}

input,
select {
    width: 282.5px;
    height: 28px;
    padding: 12px 40px 12px 20px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.6);
}

select {
    width: 342.5px;
    height: 48px;
}

.activity {
    width: 694px;
    display: block;
    margin-bottom: 20px;
}

/* calculator section end */

/* team-meet section start */
.team-meet {
    width: 90%;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.842);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.team-meet h2 {
    margin-bottom: -0.5%;
}

.team-meet p {
    text-align: center;
}

.team-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
}

.image-part img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.image-part {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: relative;
}

.image-title {
    position: absolute;
    bottom: 1%;
}

.image-title h5 {
    padding-left: 15px;
    margin-bottom: -10px;
}

/* team-meet section end */

/* footer section start */
footer {
    background-color: rgba(0, 0, 0, 0.903);
    width: auto;
    margin: 0 auto;
    margin-top: 5%;
    height: 100%;
}

.fitness {
    color: rgb(230, 83, 60);
    font-size: 4.4rem;
    font-weight: 800;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin: 0 auto; */
    /* justify-content: space-between; */
    margin-left: 10%;
}

.footer h1 {
    margin-bottom: -2%;
}


h4 {
    font-size: 32px;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

.footer-bottom {
    text-align: center;
}

.menubar {
    display: none;
}

/* footer section end */

/* responsive media query */
@media screen and (max-width: 576px) {
    .nav-links {
        display: none;
    }

    .menubar {
        display: block;
    }

    .btn-mobile {
        display: block;
        margin-right: 10px;
    }

    .btn-desktop {
        display: none;
    }

    .banner {
        flex-direction: column;
    }

    .bottom {
        right: 55%;
    }

    .banner-details h1 {
        font-size: 3rem;
        font-weight: 900;
    }

    .habit-details h2 {
        font-size: 2.3rem;
        font-weight: 900;
    }

    .exercises {
        grid-template-columns: 1fr;
    }

    .extra-mile {
        flex-direction: column;
    }

    .discount {
        flex-direction: column;
    }

    .discount-deetails {
        width: 100%;
    }

    .discount-img {
        width: 100%;
        margin-top: 20px;
    }

    .discount-join {
        width: 85%;
    }

    .calculator {
        height: fit-content;
    }

    .calculate {
        flex-direction: column;
        height: 100%;
        padding: 0 20px;
    }

    input,
    select {
        width: 82.5px;
        height: 28px;
        padding: 12px 40px 12px 20px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.1);
        font-size: 16px;
        font-weight: 400;
        color: rgba(255, 255, 255, 0.6);
    }

    select {
        width: 142.5px;
        height: 48px;
    }

    .activity {
        width: 300px;
        display: block;
    }

    .btn-calculate {
        margin-bottom: 10px;
    }

    .team-images {
        grid-template-columns: 1fr;
    }

    .footer {
        grid-template-columns: 1fr;
    }
}